<!DOCTYPE html>
<html>
  <!--
    WARNING! Make sure that you match all Quasar related
    tags to the same version! (Below it's "@1.18.10")
  -->
  
  <style>
    body {
        background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
    
    .my-card{
      width: 100%;
      max-width: 850px}

    
  </style>

  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@1.18.10/dist/quasar.min.css" rel="stylesheet" type="text/css">
    
  </head>

  <body>

    <div id="q-app">

      
      <div class="q-pa-md row justify-center text-center items-start q-gutter-md">
          <div class="col-5">
        <q-card class="my-card">
          <q-card-section>
            <q-form
              @submit="onSubmit"
              @reset="onReset"
              class="q-gutter-md"
            >
              <q-input
                filled
                v-model="name"
                label="Token name *"
                lazy-rules
                :rules="[ val => val && val.length > 0 || 'Please type something']"
              ></q-input>

              <q-input
                filled
                type="text"
                v-model="symbol"
                label="Insert symbol *"
                lazy-rules
                :rules="[
                  val => val !== null && val !== '' || 'Please type the symbol'
                ]"
              ></q-input>

              <q-input
                filled
                type="number"
                v-model="price"
                label="Insert price *"
                lazy-rules
                :rules="[
                  val => val !== null && val !== '' || 'Please type the price',
                  val => val > 0 && val < 100000000000 || 'Please type a real price'
                ]"
              ></q-input>

              <q-file
                filled
                v-model="image"
                label="Select image *"
                type="file"
                name="cryptoIcon"
              ></q-file>


              <div>
                <q-btn label="Submit" type="submit" color="primary"></q-btn>
                <q-btn label="Reset" type="reset" color="primary" flat class="q-ml-sm"></q-btn>
              </div>
            </q-form>
          </q-card-section>
        </q-card>
        </div>
        

        <div class="col-5">
       
            
              <q-card class="my-card">
                <q-card-section>
                  <div class="text-h6">Sapphire</div>
                </q-card-section>
              
                <div class="q-pa-md">
                    <q-option-group
                      v-model="controlType"
                      :options="controlTypeOptions"
                      color="purple"
                      inline
                      class="q-mb-md"
                    ></q-option-group>
                
                    <q-carousel
                      v-model="slide"
                      swipeable
                      animated
                      :control-type="controlType"
                      control-color="blue"
                      navigation
                      padding
                      arrows
                      height="300px"
                      class="text-blue rounded-borders"
                    >
                      <q-carousel-slide name="style" class="column no-wrap flex-center">
                        <q-icon name="style" size="56px"></q-icon>
                        <div class="q-mt-md text-center text-black">
                          {{ lorem }}
                        </div>
                      </q-carousel-slide>
                      <q-carousel-slide name="tv" class="column no-wrap flex-center">
                        <q-icon name="live_tv" size="56px"></q-icon>
                        <div class="q-mt-md text-center text-black">
                          {{ lorem }}
                        </div>
                      </q-carousel-slide>
                      <q-carousel-slide name="layers" class="column no-wrap flex-center">
                        <q-icon name="layers" size="56px"></q-icon>
                        <div class="q-mt-md text-center text-black">
                          {{ lorem }}
                        </div>
                      </q-carousel-slide>
                      <q-carousel-slide name="map" class="column no-wrap flex-center">
                        <q-icon name="terrain" size="56px"></q-icon>
                        <div class="q-mt-md text-center text-black">
                          {{ lorem }}
                        </div>
                      </q-carousel-slide>
                    </q-carousel>
                  </div>
              
                </div> 
                
              </q-card>
              
              
            </div>
         
        </div>
        </div>
      </div>
      </div>
    

      <!-- Add the following at the end of your body tag -->
    
      <script src="https://cdn.jsdelivr.net/npm/vue@^2.0.0/dist/vue.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/quasar@1.18.10/dist/quasar.umd.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/quasar@1.18.10/dist/lang/es.umd.min.js"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    
    <script>
      Quasar.lang.set(Quasar.lang.es)
      /*
        Example kicking off the UI. Obviously, adapt this to your specific needs.
        Assumes you have a <div id="q-app"></div> in your <body> above
       */
            new Vue({
        el: '#q-app',
        data () {
          return {
            data:[],
            name: '',
            symbol: '',
            price: '',
            image: '',
            text: '',
            controlType: 'unelevated',
      controlTypeOptions: [
        
      ],

      slide: 'style',
      lorem: 'Who are you to call me a monster? all i wanted is what everyone else wants. ... love, a home, respect, kindness and basic human decency. that is all i want, that is all we all wanted, and if you cant give me that then leave us alone or i will show this entire world the animal inside me. ... take another step closer and i will show you who is the "prey" and why your kind calls me a "hunter"'

            

          }
        },

        methods: {
          onSubmit () {
              
            console.log(this.image.name)
            axios.post('/crypto/add', {
              cryptoName: this.name,
              cryptoSymbol: this.symbol,
              cryptoPrice: this.price,
              cryptoIcon: this.image.name
                                })
                .then(function (response) {
                  console.log(response);
                })
                .catch(function (error) {
                  console.log(error);
                });
          },

          refreshData(){
            axios
              .get('/crypto')
              .then(response => {

                this.data = response.data
                console.log(this.data)
              });
              
              
                }, 

          onReset () {
            this.name = null
            this.symbol = null
            this.price = null
            this.image = null
          }
        },

        
        mounted:function(){
                this.refreshData();
            }


      })
    </script>
  </body>
</html>
